@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.ImageArea1 img {
    max-height: 500px;
    max-width: auto !important;
}

/* Home page  */
* {
    font-family: 'Oswald';
}

/* CHPCard */
.CHPCard {
    border-style: solid;
    border: 5px solid ;
   


}

/* conterner  */
#conTitle {
    font-family: 'Oswald';
    font-size: 80px;
    text-align: center;
}


/* CHPNaviBar */
.CHPNaviBar .logo {
    font-family: 'Oswald';
    cursor: pointer;
  
}.CHPNaviBar  {
    font-family: 'Oswald';
  
}
.NaviHover{
    font-family: 'Oswald';
}
.NaviHover:hover {
    color: goldenrod;
    border-style: solid;
    cursor: pointer;
    transition: 0.3s;
}
.NaviBarLink a {
padding: 0  20px;
text-decoration: none;
color: white;
}
.NaviBarLink a:hover {
text-decoration: underline;
text-underline-offset: 10px;
text-decoration-color: goldenrod;
}
/* SideShowDiv */
.SideShowDiv{
    max-height: 100vh;
  
}

/* Header Session */
.headerSesion{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-tex h1{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  color: #0ff;

}

/* CHPAboubt */
.youtube-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }
  .youtube-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* .slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    flex: 0 0 100%;
    transition: transform 1s ease;
  }
  
  .active {
    transform: translateX(0%);
  }
  
  .slide:not(.active) {
    transform: translateX(-100%);
  } */
  