.tabs-container {
    display: flex;
    height: 100vh; /* Adjust as needed */
}

.intro-container {
    max-width: 500px;
    flex: 1;
    padding: 10px;
}

.post-container {
    width: 500px; 
    overflow-y: auto;
    padding: 20px;
    background-color: #ffffff; 
}
